<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> {% include "base/static.html" %}
</head>

<body class="hold-transition skin-green layout-top-nav">
    {% include "base/navbar.html" %}

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
           <h1 class="bg-success" style="padding: 8px;">{{subtitle}}</h1>
        </section>
        <!-- Main content -->
        <section class="content">
            {% block content %} {% endblock content %}
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    {% block js %} {% endblock js %}
</body>

{% include "base/footer.html" %}

</html>