{% load staticfiles %}

<link rel="stylesheet" type="" href="{% static 'libs/bs/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="" href="{% static 'libs/alte/css/AdminLTE.min.css' %}">
<link rel="stylesheet" type="" href="{% static 'libs/alte/css/skins/_all-skins.min.css' %}">
<link rel="stylesheet" type="" href="{% static 'libs/fa/css/font-awesome.min.css' %}">
<link rel="stylesheet" type="" href="{% static 'libs/datepicker/datepicker.min.css' %}">
<link rel="stylesheet" type="" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<link rel="stylesheet" href="{% static 'libs/dropzone/dropzone.min.css' %}">

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/Chart.min.js' %}"></script>
<script src="{% static 'libs/bs/js/bootstrap.min.js' %}"></script>
<script src="{% static 'libs/alte/js/app.min.js' %}"></script>
<script src="{% static 'libs/alte/js/demo.js' %}"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script src="{% static 'libs/dropzone/dropzone.min.js' %}"></script>
<script src="{% static 'libs/datepicker/datepicker.min.js' %}"></script>